
#section{
    padding:2rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
}

#bottoni{
    display: flex;
    justify-content: space-around;
}

#myfooter1{
    position: relative;
    top:5rem;
    left:1rem;
    width:80%;
}
#linea_orizzontale1{
    width: 97%;
    
}

#myfooter2{
    position: relative;
    top:17rem;
    left:1rem;
    width:80%;
}
#linea_orizzontale2{
    width: 97%;
    
}
